<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brewpad8.technify.agr.brewpad8" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Display"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Output"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".IndexPage"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".EditTableLayout"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".PapulateData"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".BStatus"
            android:label="@string/title_activity_bstatus" >
        </activity>
        <activity
            android:name=".Brew"
            android:label="@string/title_activity_brew" >
        </activity>
        <activity
            android:name=".BrewIt"
            android:label="@string/title_activity_brew_it" >
        </activity>
    </application>

</manifest>
